@import "tailwindcss";

/* !Font */
:root {
  --font-family: "Inter", sans-serif;
}

/* !COLORS */
:root {
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #1f2937;
  --color-gray-900: #111827;
  --color-gray-950: #030712;

  --color-emerald-500: #10b981;
}

.dark {
  --color-gray-50: #111827;
  --color-gray-100: #1f2937;
  --color-gray-200: #374151;
  --color-gray-300: #4b5563;
  --color-gray-400: #6b7280;
  --color-gray-500: #9ca3af;
  --color-gray-600: #d1d5db;
  --color-gray-700: #e5e7eb;
  --color-gray-800: #f3f4f6;
  --color-gray-900: #f9fafb;
  --color-gray-950: #ffffff;

  --color-emerald-500: #10b981;
}

/* ! TEXT */
@layer base {
  /* ? Заголовки (Mobile <768px) ? */
  .container {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 1024px) {
  }

  h1 {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -0.02em;
  }

  h3 {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.01em;
  }

  .subtitle {
    font-size: 18px;
    line-height: 28px;
  }

  .body1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--color-gray-600);
  }

  .body2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--color-gray-600);
  }

  .body3 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--color-gray-600);
  }

  /* ? Tablet (768–1023px) ? */
  @media (min-width: 768px) and (max-width: 1023px) {
    .container {
      padding-left: 3rem;
      padding-right: 3rem;
    }

    h1 {
      font-size: 48px;
      line-height: 48px;
      font-weight: 700;
    }
    h2 {
      font-size: 28px;
      line-height: 36px;
    }
  }

  /* ? Desktop (>=1024px) ? */
  @media (min-width: 1024px) {
    .container {
      padding-left: 5rem;
      padding-right: 5rem;
    }

    h1 {
      font-size: 60px;
      line-height: 72px;
      font-weight: 700;
    }
    h2 {
      font-size: 36px;
      line-height: 40px;
    }
    h3 {
      font-size: 24px;
      line-height: 32px;
    }
    .subtitle {
      font-size: 20px;
    }
    .body1 {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

@layer utilities {
  .smooth {
    @apply transition ease-in-out duration-300;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--color-gray-950);
}
